@{
    bool isRoot = Level <= 1;
    string rootMenuItemClasses = "rootMenuContainer";
    string subMenuItemClasses = ChildContent != null ? "subMenuContainer" : "";

}

@* <div class="menuItem @(!isRoot ? "subMenuContainer" : "")"> *@
<div class="menuItem @(isRoot ? rootMenuItemClasses : subMenuItemClasses)">
    <span class="menuItemText">@Text</span>
    @if (ChildContent != null)
    {
        <div class="menuItemChild @(isRoot ? "" : "rightPositioned")">@ChildContent</div>
    }
</div>



@code {
    [CascadingParameter(Name = "Level")]
    public required int Level { get; set; }

    [EditorRequired]
    [Parameter]
    public required string Text { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}